.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo p {
  margin-left: 10px;
}

.navigation span{
  display: inline-block;
  width: 60px;
  text-align: center;
}

.links {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {

}

div {
  border: thin solid black;
}

.column .large {
  width: 630px;
}

.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}
