.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo p {
  margin-left: 10px;
}

.navigation span{
  display: inline-block;
  width: 60px;
  text-align: center;
}

.links {
  color: black;
}
